.yuyihua {
    header {
        position: relative;
        height: 50px;
        border: 1px solid #ccc;
        margin-bottom: 10px;
        nav {
            position: absolute;
            width: 60%;
            right: 10px;
            bottom: 10px;
            border: 1px solid #ccc;
        }
    }
    main {
        float: left;
        width: 80%;
        height: 80px;
        border: 1px solid #ccc;
    }
    aside {
        float: left;
        width: 20%;
        height: 80px;
        border: 1px solid #ccc;
        &::after {
            clear:both;
        }
    }
    footer {
        margin-top: 10px;
        border: 1px solid #ccc;
    }
}

.h5-container {
    .h5-list {
        display: flex;
    }
}