@import '../../../style/theme.scss';

.am-list {
    &-header {
        padding: $v-spacing-lg $h-spacing-lg $v-spacing-md $h-spacing-lg;
        font-size: $font-size-base;
        color: $color-text-caption;
        width: 100%;
        box-sizing: border-box;
    }
    &-footer {
        padding: $v-spacing-md $h-spacing-lg $v-spacing-lg $h-spacing-lg;
        font-size: $font-size-base;
        color: $color-text-caption;
    }
    &-body {
        position: relative;
        background-color: $fill-base;

    }
}