//基础色

$blueBase:#1890ff;
$purpleBase:#722ed1;
$cyanBase:#13c2c2;
$greenBase:#52c41a;
$pinkBase:#eb2f96;
$redBase:#f5222d;
$orangeBase:#fa8c16;
$yellowBase:#fadb14;
$whiteColor: #fff;
$blackColor: #333;
$grayColor:  #d9d9d9;