body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.page-container {
    padding: 10px;
}
.page-body .page-list {
    padding: 10px 0;
    border-top: 1px solid #eeeeee;
}
.page-body .page-list:last-child{
    border-bottom: 1px solid #eeeeee;
}

button {
    border-radius: 0;
    outline: none;
    border: none;
}